<strong>A expressão Lorem ipsum em design gráfico e </strong> 

<p> editoração é um texto padrão em latim utilizado </p>

@if(hasAttachment)
 <p> na produção gráfica para preencher os espaços de</p>
@endif